{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "function-name-case": null,
    "value-keyword-case": null,
    "font-family-name-quotes": null,
    "function-no-unknown": null,
    "function-whitespace-after": null,
    "selector-id-pattern": null,
    "no-duplicate-selectors": null,
    "keyframes-name-pattern": null,
    "media-feature-range-operator-space-after": null,
    "media-feature-range-operator-space-before": null
  }
}
